.searchResults {
    width: 50%;
    background-color: rgba(1, 12, 63, 0.7);
    box-shadow: 0 4px 2px 2px #000000;
    padding: 1rem;
}

@media only screen and (max-width: 815px) {
    .searchResults {
        width: 100%;
    }
} 

