.track {
    padding: 0.875em 0;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #fff;
}

.track .name {
    font-weight: 500;
}

.track .operation {
    font-size: 1.5em;
}