.footer {
    margin-top: 1.5em;
    color: #fff;
    font-size: 1rem;
    
    text-align: center;
    background-color: #010c3f;
    padding: 1em;
    bottom: 0;
    position: relative;
}

.footer p {
    font-family: 'Work Sans', sans-serif;
    padding: 0.5rem;
}
