.footer {
    color: #fff;
    font-size: 1rem;
    text-align: center;
    background-color: #010c3f;
    padding: 1em;
    width: 100%;
    margin-top: auto;
}

.footer p {
    font-family: 'Work Sans', sans-serif;
    padding: 0.5rem;
}
