* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body {
  background: url('./src/assets/background.webp');
  background-repeat: no-repeat;
  object-fit: cover;
  background-position: center;
}

h1, h2 {
  font-family: 'Poppins', sans-serif;
  color: #fff;
  font-weight: 600;
}

p,a {
  font-family: 'Work Sans', sans-serif;
  font-weight: 200;
  color: #fff;
}

a {
  text-decoration: none;
}